<div class="col-lg-2 col-lg-push-10 context-list">
  <h4>contexts</h4>
  <ul>
    <% @context_list.each do |tag| %>
    <li><%= link_to tag, tag_path(@student.id,tag) %></li>
    <% end %>
  </ul>
</div>
<div class="col-lg-9 col-lg-pull-1">
  <ul class="student-notes">

    <% @notes.each do |note| %>
      <li>
        <div class="date"><%= note.created_at.strftime("%a, %e %b") %>

          <div class="links"><%= link_to "", edit_student_note_path(note), class: "glyphicon glyphicon-edit" %>  <%= link_to "", student_note_path(note), method: "delete", class: "glyphicon glyphicon-remove", alert: "really delete?" %></div>
        </div>
        <div class="content"><%= note.content %></div>
        <% if note.context_list.length > 0 %>
        <div class="contexts"><strong>Context:</strong>
           <% note.context_list.each do |tag| %>
           <%= link_to tag, tag_path(note.student.id,tag) %>
           <% end %>

        </div>
        <% end %>
      </li>
    <% end %>

  </ul>
  <% if params[:tag] %>
    <%= link_to "All Notes", @student %>
  <% end %>
</div>
