<div class="col-lg-2 col-lg-push-10 context-list">
  <h4>filter</h4>
  <% if params[:tag] %>
  <p><%= link_to "Clear Filter", @student %></p>
  <% end %>
  <%= form_tag(student_path, method: "get", class: "filter-form") do %>
    <%= label_tag "Select Tag" %>
    <%= select_tag :tag, options_for_select(@context_list) %>
    <%= date_field :date, :start_date, placeholder: "start date", 'data-provide' => "datepicker" %>
    <%= date_field :date, :end_date, placeholder: "end date", 'data-provide' => "datepicker" %>
    <%= submit_tag "Filter Notes", class: "btn btn-default"%>
  <% end %>

</div>
<div class="col-lg-9 col-lg-pull-1">
  <ul class="student-notes">

    <% @notes.each do |note| %>
      <li>
        <div class="date"><strong><%= note.created_at.strftime("%a, %e %b") %></strong>

          <div class="links"><%= link_to "", edit_student_note_path(note), class: "glyphicon glyphicon-edit" %>  <%= link_to "", student_note_path(note), method: "delete", class: "glyphicon glyphicon-remove", data: {confirm: "Really delete?"}  %></div>
        </div>
        <div class="content"><%= note.content %></div>
        <% if note.context_list.length > 0 %>
        <div class="contexts"><strong>tags:</strong>
           <% note.context_list.each do |tag| %>
           <%= link_to tag, tag_path(note.student.id,tag) %>
           <% end %>

        </div>
        <% end %>
      </li>
    <% end %>

  </ul>
  <p><%= link_to "Delete Student", student_path, method: "delete", class: "btn btn-danger btn-sm", data: {confirm: "Really delete?"}%></p>
</div>
