<div class="col-lg-8 col-lg-offset-2">
  <h2><%= @note.created_at.strftime("%A, %e %B %Y") %> <br> for <%= @note.student.name.capitalize %></h2>
  <%= form_for @note do |f| %>
  <%= f.text_area :content %>
  <%= f.text_field :tag_list, value: @note.context_list.to_s%>
  <%= f.submit %>
  <% end %>
</div>
