<div class="col-lg-8 col-lg-offset-2">
  <h2><%= @note.created_at.strftime("%A, %e %B %Y") %> <br> for <%= @note.student.name.capitalize %></h2>
  <%= form_for @note do |f| %>
  <%= f.text_area :content %>
  <%= f.text_field :tag_list, placeholder: "context tags (comma separated)" %>
  <%= f.submit %>
  <% end %>
</div>
