<%= form_for @student_group do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
<p>

</p>
<%= link_to "Delete Class", student_group_path, method: "delete", data: {confirm: "Really delete?"}, class: "btn btn-danger btn-sm" %>
