
<div class="row">
  <div class="col-xs-8">
    <h1><%= @title %></h1>
  </div>
  <div class="col-xs-4">
    <ul class="header-nav">
      <li><%= link_to "Home", root_url %></li>|
      <% if current_user %>
        <li><%= link_to "Sign out", destroy_user_session_url, method: "delete"%></li>|
        <li><%= link_to "Profile", current_user %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_url %></li> or
        <li><%= link_to "Sign up!", new_user_registration_url %></li>
      <% end %>
    </ul>
  </div>
</div>
