<!DOCTYPE html>
<html>
  <head>
    <title>Anecdotal Notes</title>
    <link rel="icon" href="favicon.png">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui, mobile-web-app-capable">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="col-lg-10 col-lg-offset-1 main-body">
        <%= render "layouts/header" %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
