<!DOCTYPE html>
<html>
  <head>
    <title>AnecdotalNotes</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="col-lg-10 col-lg-offset-1 main-body">
        <%= render "layouts/header" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
