<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
  </head>
  <body>
    <div id="header">
      <!-- <%= wicked_pdf_image_tag 'mysite.jpg' %> -->
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
